@import "./breakpoints.scss";

.page-container {
  max-width: var(--mt--container--width, 1320px);
  margin: 0 auto;

  @include break(laptop) {
    max-width: 960px;
  }

  @include break(tablet) {
    max-width: 720px;
  }

  @include break(mobile) {
    max-width: 480px;
    width: 90% !important;
  }
}

.object-fit {
  img,
  video {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
