.work-section {
  padding: 200px 0 100px;
  $self: &;

  @include break(mobile) {
    padding: 52px 0;
  }

  &__title {
    @include break(laptop) {
      font-size: 40px !important;
    }

    @include break(tablet) {
      font-size: 36px !important;
    }

    @include break(mobile) {
      font-size: 32px !important;
    }
  }

  &__projects-container {
    &:hover {
      #{$self}__project {
        opacity: 0.4;

        &:hover {
          padding: 48px 100px 48px 32px;
          opacity: 1;

          &::after {
            height: 100%;
          }

          #{$self}__project-title {
            color: #070707 !important;
          }

          #{$self}__project-text {
            color: #070707 !important;
          }

          #{$self}__project-click {
            opacity: 0;
          }
        }
      }
    }
  }

  &__project {
    position: relative;
    display: flex;
    padding: 48px 100px 48px 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #fafafa;
    transition: opacity 700ms, padding 300ms;
    cursor: pointer;

    @include break(tablet) {
      padding: 32px 60px 32px 0;
    }

    @include break(mobile) {
      padding: 32px 16px 32px 0;
      justify-content: center;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: #fafafa;
      bottom: 0;
      right: 0;
      left: 0;
      height: 0px;
      transition: height 500ms;
      z-index: -1;
    }

    &:first-of-type {
      .work-section__project-click {
        @include break(mobile) {
          display: block !important;
        }
      }
    }
  }

  &__project-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include break(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__project-click {
    display: none;
    max-height: 45px;

    @include break(mobile) {
      display: none;
    }
  }

  &__project-title {
    font-size: 40px;
    font-weight: 500;
    transition: color 300ms;
    transition-delay: 100ms;

    @include break(laptop) {
      font-size: 36px;
    }

    @include break(tablet) {
      font-size: 32px;
    }

    @include break(mobile) {
      font-size: 28px;
      margin-bottom: 8px;
    }
  }

  &__project-text-container {
    @include break(mobile) {
      display: none;
    }
  }

  &__project-text {
    font-size: 20px;
    transition: color 300ms;
    transition-delay: 100ms;

    @include break(laptop) {
      font-size: 18px;
    }

    @include break(mobile) {
      font-size: 16px;
    }

    &--external {
      color: #0b0b0b;
      font-size: 20px;
      font-weight: 600;
      margin-top: auto;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .title-box {
    @include break(mobile) {
      margin-bottom: 48px;
    }
  }
}
