.portfolio-item {
  padding: 100px 0;

  &__title {
    font-size: 70px !important;

    @include break(laptop) {
      font-size: 56px !important;
      max-width: 710px;
    }

    @include break(tablet) {
      font-size: 42px !important;
      max-width: 496px;
    }

    @include break(mobile) {
      font-size: 36px !important;
      max-width: 496px;
      line-height: 120%;
    }
  }

  &__description {
    max-width: 800px;
    font-size: 18px;

    @include break(laptop) {
      font-size: 18px;
      max-width: 550px;
    }

    @include break(tablet) {
      font-size: 16px;
      max-width: 550px;
    }
  }

  &__tools-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  &__tool {
    font-size: 14px;
    font-weight: 275;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      height: 4px;
      width: 4px;
      background-color: #fafafa;
      margin: 0 8px;
    }

    &:first-of-type {
      &::before {
        display: none;
      }
    }
  }
}
