.secondary-button {
    display: flex;
    gap: 12px;
    align-items: center;
    transition: gap 300ms;
    width: fit-content;
    margin-left: auto;
    
    &__text {
        font-size: 18px;
        font-weight: 500;
        transition: all 300ms;
    }

    img {
        height: 14px;
    }

    &:hover {
        gap: 24px;

        &__text {
            color: red !important;
        }
    }
}