.tools-section {
  &__title {
    @include break(laptop) {
      font-size: 40px !important;
    }

    @include break(tablet) {
      font-size: 36px !important;
    }

    @include break(mobile) {
      font-size: 32px !important;
    }
  }

  &__sub-title {
    margin-bottom: 16px;

    @include break(laptop) {
      font-size: 24px !important;
    }

    @include break(tablet) {
      font-size: 22px !important;
    }

    @include break(mobile) {
      font-size: 20px !important;
    }
  }

  &__box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    width: fit-content;
    margin-bottom: 48px;

    @include break(tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include break(mobile) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__tool-box {
    width: 195px;
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #0e0e0e;
    border-radius: 8px;

    @include break(mobile) {
      width: 150px;
    }
  }

  &__tool-box-text {
    font-size: 20px;
    font-weight: 400;
    margin-left: 12px;

    @include break(mobile) {
      font-size: 14px !important;
      margin-left: 8px;
    }
  }

  &__image-container {
    height: 46px;
    width: 46px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 32px;
    }

    @include break(mobile) {
      height: 32px;
      width: 32px;

      img {
        max-width: 16px;
      }
    }
  }
}
